.reset-password {
    min-height: 60vh;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, sans-serif;
    width: 50vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
    h2 {
      margin-bottom: 20px;
    }
  
    input {
      width: 40%;
      padding: 10px;
      margin-bottom: 20px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  
    .counter {
      font-size: 14px;
      margin-bottom: 20px;
      color: green;
    }
  
    button {
      padding: 10px 20px;
      font-size: 16px;
      background-color: #ffd230;
      color: black;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
      
      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
  
      &:hover:enabled {
        background-color: black;
        color: #ffd230;
      }
    }
  }
  