.signup {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
    h2 {
      font-size: 24px;
      margin-bottom: 20px;
      text-align: center;
    }
  
    .form-group {
      margin-bottom: 15px;
      label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
      }
      input {
        width: 90%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        &:focus {
          outline: none;
          border-color: #ffd230;
        }
      }
    }
    #back
    {
        border-radius: 50px;
        background-color: #ffd230;
        color: black;
       align-self: flex-start;
      }
  
    button[type="submit"] {
      display: block;
      width: 100%;
      padding: 12px;
      background-color: #ffd230;
      color: black;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      text-align: center;
      transition: background-color 0.3s;
      &:hover {
        background-color: black;
        color: #ffd230;
      }
    }
  }
  