.Copy{
    height: 6vh;
    width: 100%;
    background-color:black;
    color:#FFD230;
    display: flex;
    justify-content: space-between;
    font-weight:500 ;
    align-items: center;
    margin: 0%;
}